# OS
.DS_Store

# IDE
.idea/
*.iml
*.ipr
*.iws
/.idea_modules
/.classpath
/.project
/.settings
/out

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Quarkus
.quarkus/

# Web Bundler
node_modules/

# Misc
logs
tmp
dist
.history
/RUNNING_PID
