name: Deploy Production

on:
  workflow_dispatch:

jobs:
  deploy_production:
    uses: ./.github/workflows/deploy_template.yaml
    permissions: { }
    with:
      clever_cloud_application: 'lunatech-blog-engine'
      target_branch: 'production'
      source_branch: 'acceptance'
    secrets: inherit
