on:
  workflow_call:
    inputs:
      source_branch:
        type: string
        required: true
        description: Source Branch
      target_branch:
        type: string
        required: true
        description: Source Branch
jobs:
  deploy:
    name: Deploy ${{ inputs.target_branch }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v1
        name: Generate GitHub Token
        id: app-token
        with:
          app-id: ${{ secrets.LUNATECH_AUTOMATION_CLIENT_ID }}
          private-key: ${{ secrets.LUNATECH_AUTOMATION_PRIVATE_KEY }}

      - uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}


      - name: Merge from ${{ inputs.source_branch }} to ${{ inputs.target_branch }}
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          git fetch origin master:master
          git checkout ${{ inputs.target_branch }}
          git rebase ${{ inputs.source_branch }}
          git push origin ${{ inputs.target_branch }}
