name: Deploy Template

on:
  workflow_call:
    inputs:
      clever_cloud_application:
        type: string
        required: true
        description: Alias of Clever Cloud APP
      source_branch:
        type: string
        required: true
        description: Source Branch
      target_branch:
        type: string
        required: true
        description: Target Branch
jobs:
  deploy:
    name: Deploy ${{ inputs.target_branch }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/create-github-app-token@v2
        name: Generate GitHub Token
        id: app-token
        with:
          app-id: ${{ secrets.LUNATECH_BLOG_APP_ID }}
          private-key: ${{ secrets.LUNATECH_BLOG_APP_PRIVATE_KEY }}

      - uses: actions/checkout@v5
        with:
          token: ${{ steps.app-token.outputs.token }}
          fetch-depth: '0'

      - name: Merge from ${{ inputs.source_branch }} to ${{ inputs.target_branch }}
        run: |
          git fetch origin
          git checkout ${{ inputs.target_branch }}
          git rebase origin/${{ inputs.source_branch }}
          git push origin ${{ inputs.target_branch }}

      - name: Install Clever Tools
        run: |
          npm install -g clever-tools

      - name: Restart server
        env:
          CLEVER_TOKEN: ${{ secrets.CLEVER_TOKEN }}
          CLEVER_SECRET: ${{ secrets.CLEVER_SECRET }}
        run: |
          clever login --token $CLEVER_TOKEN --secret $CLEVER_SECRET
          clever restart --alias ${{ inputs.clever_cloud_application }}
          clever logout
